:root {
  --yellow-1: #ffbb00;
  --yellow-2: #e4a30b;
  --yellow-3: #a66f00;
  --yellow-4: #664400;
  --yellow-5: #332200;
  --white-100: #ffffff;
  --gray-1: #f7f7f7;
  --gray-2: #ededed;
  --gray-3: #dedede;
  --gray-4: #cccccc;
  --gray-5: #b2b2b2;
  --gray-6: #9c9c9c;
  --gray-7: #717171;
  --gray-8: #595959;
  --gray-9: #404040;
  --gray-10: #2e2e2e;
  --black-50: #111111;
  --black-100: #000000;
}
