.insurance-bikes-bg {
  background-color: var(--black-50);
  box-shadow: inset 0 120px var(--white-100), inset 0 -120px var(--black-100);
}

.insurance-bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.insurance-bikes-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insurance-bikes-content {
  padding-top: 180px;
  padding-bottom: 180px;
}

.insurance-bikes h2 {
  margin-bottom: 32px;
}

.insurance-bikes p {
  margin-bottom: 20px;
}

/* media */

@media (max-width: 800px) {
  .insurance-bikes-bg {
    background-color: var(--black-50);
    box-shadow: inset 0 -60px var(--black-100);
  }
  .insurance-bikes {
    grid-template-columns: 1fr;
  }

  .insurance-bikes-content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
